@font-face {
	font-family: 'SaminBold';
	src:  url('/static/site/fonts/Samim-Bold.woff2') format('woff2'),
		  url('/static/site/fonts/Samim-Bold.woff') format('woff');
  }

body {
	font-family: 'SaminBold';
}
